@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&display=swap');

body {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}

.container {
    margin: 50px auto;
    width: 1321px;
    background: #161616;
    border-radius: 20px;
}

.banner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 30px 100px 0;
    gap: 24px;
}

.banner__text {
    color: #fff;
    width: 100%;
}

.text {
    display: flex;
    flex-wrap: wrap;
}

.banner__title h1 {
    letter-spacing: 5px;
    font-size: 70px;
    font-weight: 700;
    line-height: 69px;
}

.banner__title p {
    font-weight: 400;
    font-size: 16px;
    margin: 0 0 30px;
}

.watch__button {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 0 25px;
    background-color: #DD0000;
    color: #fff;
    font-size: 20px;
    border-radius: 5px;
    border: none;
}

.banner__image img {
    width: 100%;
}




.container__1 {
    margin: 50px auto;
    width: 1321px;
    border-radius: 20px;
    display: flex;
}

.media {
    display: flex;
    gap: 30px;
}



.fixed__width {
    background: #161616;
    border-radius: 10px;
    width: 312px;
    height: 312px;
    display: flex;
    align-items: center;
}

.fined__area {

    display: flex;
    flex-direction: column;
    margin: 0 28px;
}

.fined__area .button {
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    border-radius: 16px;
    height: 64px;
    width: 252px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
}

.fined__area .button:hover {
    background-color: #DD0000;
    color: #fff;
}



.grow__width {
    flex-grow: 1;
}

.content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.blog {
    display: flex;
    flex-direction: column;
}

.blog-banner img {
    width: 100%;
}

.blog__title {
    display: flex;
}

.blog-info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.course-duration {
    border-radius: 14.6913px;
    padding: 5px 10px;
}



footer {
    background-color: #000;

}

.footer__section {
    text-align: center;
    padding: 50px 0;
} 

.heading h1 {
    font-size: 40px;
    color: #fff;
}

footer hr {
    width: 80%;
}
.footer__menu{
    width: 60%;
    margin: 0 auto;
}
.footer__menu a {
    text-decoration: none;
    color: lightgray;
    margin-left: 10px;
   
}








@media screen and (max-width:992px) {
    .container {
        min-width: 734px;
    }

    .media {
        display: block;
    }

    .fixed__width {}

    .fined__area {
        display: flex;
        flex-direction: row;
    }

    .fined__area .button {}

    .hidden {
        display: none;
    }

    .content {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media screen and (max-width:668px) {
    .banner {
        grid-template-columns: repeat(1, 1fr);
    }

    .text {
        justify-content: center;
    }

    .banner__text {
        text-align: center;
        padding: 0 0 50px;
    }

    .banner__text p {
        font-size: 40px;

    }

    .banner__text h1 {
        font-size: 93px;
        line-height: normal;
        margin-bottom: 50px;
    }

    .banner__button {
        margin-top: 20px;
    }

    .banner__button {
        margin-top: 70px;
    }
/* footer-area */
   .footer__menu{
    display: block;
   }

}