@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&display=swap');

body {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}

/* banner-section-style */

.container {
    margin: 50px auto;
    width: 70%;
    background: #161616;
    border-radius: 20px;
}

.banner {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 30px;
}

.banner__text {
    color: #fff;
    width: 45%;
}

.text {
    display: flex;
    flex-wrap: wrap;
}

.banner__title h1 {
    letter-spacing: 2px;
    font-size: 4vw;
    font-weight: 500;
    line-height: 66px;
}

.banner__title p {
    font-weight: 400;
    font-size: 16px;
    margin: 0 0 30px;
}

.watch__button {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 0 25px;
    background-color: #DD0000;
    color: #fff;
    font-size: 20px;
    border-radius: 5px;
    border: none;
}

.banner__image {
    width: 45%;
}

.banner__image img {
    width: 100%;
}

/* banner-section-style-end */

/* blog-section-style */

.container__1 {
    margin: 50px auto;
    width: 70%;
    border-radius: 20px;
    display: flex;
}

.media {
    display: flex;
    gap: 30px;
}

.fixed__width {
    background: #161616;
    border-radius: 10px;
    width: 312px;
    height: 312px;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.fined__area {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.fined__area .button a {
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    border-radius: 16px;
    height: 64px;
    width: 252px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
}

.fined__area .button a:hover {
    background-color: #DD0000;
    color: #fff;
}

.grow__width {
    flex-grow: 1;
}

.content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.blog {
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
}

.blog-banner img {
    width: 100%;
}
.blog-detail{
    padding: 15px;
}
.blog__title {
    display: flex;
}

.blog-info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.course-duration {
    border-radius: 14.6913px;
    padding: 5px 10px;
}

.hidden__button {
display: none;
}

.hidden__button button {
    background-color: #DD0000;
    padding: 25px 60px;
    border: none;
    border-radius: 15px;
}

/* footer-area-style */
footer {
    background-color: #000;
    width: 100%;
}

.footer__section {
    text-align: center;
    padding: 50px 0;
}

.heading h1 {
    font-size: 40px;
    color: #fff;
}

footer hr {
    width: 80%;
}

.footer__menu {
    width: 60%;
    margin: 0 auto;
}

.footer__menu p {
    display: inline-block;
    margin-left: 15px;
}

.footer__menu a {
    text-decoration: none;
    color: lightgray;
}
.footer__hidden{
    visibility: hidden;
}


/* media-query-area-start */

@media screen and (max-width:992px)and (min-width:668px) {

    /* banar-area-start */
    .banner__image {
        display: flex;
        align-items: center;
    }

    .banner__title h1 {
        line-height: 47px;
        margin: 6px;
    }

    .banner__text {
        margin-bottom: 10px;
    }

    /* blog-area-start */
    .container__1 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .media {
        display: flex;
        gap: 30px;
        flex-direction: column;
        align-items: center;
    }

    .fixed__width {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #fff;
        height: 100px;
    }

    .fined__area {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
    }

    .fined__area .button a {
        border: 1px solid #161616;
        height: 63px;
        width: 208px;
        margin-left: 20px;
    }

    .hidden__button {
        display: block;
        }

    .hidden {
        display: none;
    }

    .content {
        grid-template-columns: repeat(2, 1fr);
    }

    .watch__button {
        background-color: #DD0000;
        color: #fff;
        font-size: 20px;
        border: none;
        width: 197px;
    }
}

/*-------------------------------*/
@media screen and (max-width:667px) {

    /* banar-area-start */
    .banner {
        display: flex;
        flex-direction: column;
        padding-top: 30px;
        align-content: center;
        flex-wrap: wrap;
    }

    .banner__image {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .text {
        justify-content: center;
    }

    .banner__text {
        text-align: center;
        padding: 0 0 50px;
        width: 100%;
    }

    .banner__text h1 {
        font-size: 40px;
        line-height: normal;
        margin-bottom: 50px;
    }

    .banner__text p {
        font-size: 16px;
    }

    /* banner-area-end */
    /* blog-area-start */
    .fined__area {
        flex-wrap: no-wrap;
    }

    .media {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .fixed__width {
        background: #fff;
    }

    .fined__area .button a {
        border: 1px solid;
    }

    .content {
        grid-template-columns: repeat(1, 1fr);
    }

    .hidden {
        display: none;
    }

    /* footer-area */
    .footer__menu {
        display: block;
    }

    .footer__menu p {
        display: block;
    }
    .footer__hidden{
        visibility: visible;
        color: #fff;
    }
}